.wrapper {
  border: 1px solid #ccc;
  border-radius: var(--space-sm);
  margin-top: var(--space-sm);
  max-height: var(--image-max-height);
  max-width: var(--image-max-width);
  overflow: hidden;
  position: relative;

  img, canvas {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }
}