.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: var(--space-md);
  text-align: center;
}

.image {
  border-radius: var(--space-sm);
  margin-bottom: var(--space-lg);
  object-fit: cover;
}

.title {
  font-size: var(--space-xl);
  margin-bottom: var(--font-md);
}

.text {
  color: #555;
  font-size: var(--space-md);
}